---
import Layout from "../layouts/layout.astro";
import Header from "../components/header/header.astro";
import Hero from "../components/hero.astro";
import News from "../components/news.astro";
---

<Layout title="SK Davao del Sur | Home">
	<Header />
	<main>
		<Hero />

		<News />
	</main>
</Layout>
